html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "TITGD1", sans-serif;
  box-sizing: border-box;
  color: #f0f0f0;
}
a {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cf:before,
.cf:after {
  content: "";
  display: block;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
html,
body {
  font-family: "Noto Sans KR", sans-serif;
}
@keyframes info-fadeIn {
  0% {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  50% {
    opacity: 0.7;
    transition: opacity 2s ease-in-out;
  }
  100% {
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }
}
@keyframes info-fadeOut {
  0% {
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }
  50% {
    opacity: 0.7;
    transition: opacity 2s ease-in-out;
  }
  100% {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
}
#detect {
  z-index: 10;
  background: #434343;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
}
#detect #detect_img {
  position: absolute;
  width: 45%;
  margin-left: 28%;
  margin-top: 55%;
}
#detect #detect_msg {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  width: 55%;
  left: 22%;
  top: 55%;
}
#detect .custom-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
#detect .custom-list li {
  position: relative;
  margin-left: 10%;
  margin-top: 50%;
  color: #fff;
}
#detect .custom-list li:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("assets/images/icons/info.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
}
#pageInfo {
  width: 85%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 14px;
  color: #fff !important;
  margin: 20%;
  margin-left: 7.5%;
  position: absolute;
  padding: 10%;
  padding-top: 15%;
  z-index: 4;
}
#pageInfo * {
  z-index: 4;
}
#pageInfo h2 {
  font-size: 22px;
  margin-top: 5%;
  margin-left: 5%;
}
#pageInfo ol {
  list-style: decimal;
}
#pageInfo li {
  margin-top: 20%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 5%;
}
#pageInfo button {
  border: none;
  font-size: 18px;
  z-index: 1;
  background: #d3d3d3;
  width: 60%;
  padding: 8px;
  border-radius: 8px;
  color: #000;
  margin: 0 auto;
  margin-left: 20%;
  margin-top: 20%;
}
#confirm {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(52, 52, 52, 0.53);
  z-index: 1;
  padding: 5%;
}
#confirm #confirm-bg {
  position: absolute;
  width: 100%;
  height: 15%;
  padding: 10px;
}
#confirm #confirm-button {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
#confirm p {
  text-align: center;
  font-size: 18px !important;
  color: #fff;
}
#confirm button {
  padding: 0;
  border: none;
  background: none;
  font-size: 14px;
}
#confirm img {
  position: absolute;
  right: 4%;
  bottom: 16%;
  width: 50px;
  height: 50px;
  z-index: 3;
}
#confirm > button {
  background: transparent;
  position: absolute;
  text-align: center;
  color: #fff;
  border: none;
  font-size: 20px;
}
#confirm #confirm-button-cancel {
  width: 45%;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  color: #000;
  float: left;
}
#confirm #confirm-button-ok {
  width: 45%;
  background: #24b9bd;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  float: right;
}
#comment-success {
  width: 50%;
  height: 30%;
  min-height: 125px;
  position: fixed;
  top: 0;
  left: 20%;
  padding: 1%;
  margin: 18% auto;
  border-radius: 10px;
  background: #fff;
}
#comment-success p {
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-top: 4%;
}
#comment-success button {
  background: #24b9bd;
  width: 160px;
  height: 43px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-left: 30%;
  margin-top: 3%;
  z-index: 1;
}
.alert {
  padding: 20px;
  background: #f7c56e;
  color: #fff;
  width: 50%;
  margin: 3% auto;
  z-index: 1000;
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: #000;
}
.inline {
  display: inline-block;
  margin: 10px;
}
.cardElement {
  width: 380px;
  height: 380px;
  border-radius: 5%;
  padding: 15px 15px 30px 15px;
  object-fit: contain;
  text-align: center;
  margin-top: 10%;
}
.imagebox {
  width: 100%;
}
.imagebox img {
  display: block;
  margin: 0 auto;
  width: 340px;
  height: 360px;
  border-radius: 10%;
}
.user-comment {
  font-size: 150% !important;
  font-weight: 900;
  border: none;
  color: #fff;
  text-shadow: 1px 1px #000;
  opacity: 0.85;
}
#kakao-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 5%;
  padding-right: 5%;
}
#kakao-modal-box {
  width: 100%;
  height: 23%;
  margin-top: 50%;
  background-color: #fff;
  padding: 30px 30px 15px 30px;
  border-radius: 10px;
}
#kakao-modal-header {
  height: 50%;
}
#kakao-modal-header-img {
  float: left;
  width: 25%;
  text-align: right;
  padding-right: 6%;
  padding-top: 5px;
}
#kakao-modal-header-text {
  width: 75%;
  float: right;
}
#kakao-modal-header-text > p {
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #000;
}
#kakao-modal-footer {
  height: 50%;
  padding-top: 7%;
}
#kakao-modal-footer-ok {
  width: 46%;
  float: right;
}
#kakao-modal-footer-ok > button {
  width: 100%;
  font-size: 16px;
  line-height: 1.67;
  color: #fff;
  background: #30aec3;
  outline: 2px solid #30aec3;
  border: none;
  padding: 3px;
}
#kakao-modal-footer-cancel {
  width: 46%;
  float: left;
}
#kakao-modal-footer-cancel > button {
  width: 100%;
  font-size: 16px;
  line-height: 1.67;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  outline: 2px solid #30aec3;
  padding: 3px;
}
#remove-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10%;
  padding-right: 10%;
}
#remove-modal-box {
  width: 100%;
  height: 18%;
  margin-top: 50%;
  background-color: #fff;
  padding: 5% 5% 3% 7%;
  border-radius: 5px;
}
#remove-modal-header {
  text-align: center;
  height: 60%;
}
#remove-modal-header-text {
  width: 100%;
}
#remove-modal-header-text > p {
  font-weight: bold;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 1.67;
  color: #000;
}
#remove-modal-footer {
  height: 40%;
  padding-top: 3%;
}
#remove-modal-footer-ok {
  width: 43%;
  float: right;
}
#remove-modal-footer-ok > button {
  width: 100%;
  font-size: 16px;
  line-height: 1.67;
  color: #000;
  background: #068fa8;
  outline: none;
  border: none;
  border-radius: 5px;
}
#remove-modal-footer-cancel {
  width: 43%;
  float: left;
}
#remove-modal-footer-cancel > button {
  width: 100%;
  font-size: 16px;
  line-height: 1.67;
  color: #000;
  background-color: #e3e3e3;
  outline: none;
  border: none;
  border-radius: 5px;
}
#capture {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(42, 175, 197, 0.4);
}
#capture #border {
  width: 100%;
  height: 100%;
  padding: 20% 5% 30% 5%;
  position: absolute;
}
#capture #border #border-line {
  width: 100%;
  height: 100%;
  position: relative;
}
#capture #border #border-line img {
  width: 50px;
  height: 50px;
}
#border-line-top-left {
  position: absolute;
  left: 0;
}
#border-line-top-right {
  position: absolute;
  right: 0;
}
#border-line-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
#border-line-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
#capture #cap1 {
  width: 25%;
  position: absolute;
  margin-left: 37.5%;
  top: 30%;
}
#capture #capture-message p {
  color: #fff;
  font-size: 20px;
  padding: 0;
  text-align: center;
  bottom: 15%;
  position: relative;
}
#capture #capture-message {
  width: 100%;
  top: 50%;
  text-align: center;
  padding: 10px;
  position: absolute;
}
#share-message {
  width: 100%;
  height: 10%;
  position: absolute;
  padding: 5%;
  background-color: rgba(52, 52, 52, 0.53);
}
#share-message-text {
  width: 100%;
  height: 100%;
  font-weight: 900;
  text-align: center;
  font-size: 23px;
  color: #fff;
}
#content-helper img {
  width: 20px;
  height: 20px;
  font-size: 18px;
}
#guide-header {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
#guide-header-message-top {
  width: 100%;
  text-align: center;
  font-size: 26px;
  padding: 2%;
}
#guide-header-message-bottom {
  width: 100%;
  text-align: center;
  padding: 2%;
}
#guide-header-message-bottom p {
  font-size: 18px;
}
#guide-header-img {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 4%;
}
#guide-header-img img {
  width: 60%;
}
#guide-header-btn {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 3% 35% 3% 35%;
}
#guide-share-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 144.5px;
  margin-right: 106px;
  font-size: 18px;
}
#guide-share-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 170px;
  margin-right: 102px;
}
#guide-share-arrow img {
  position: absolute;
  width: 55px;
  height: 24px;
}
#guide-message-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 87.5px;
  margin-right: 116px;
  font-size: 18px;
}
#guide-message-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 118px;
  margin-right: 114px;
}
#guide-message-arrow img {
  position: absolute;
  width: 63px;
  height: 34px;
}
#guide-emoji-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 27.5px;
  margin-right: 116px;
  font-size: 18px;
}
#guide-emoji-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 58px;
  margin-right: 114px;
}
#guide-emoji-arrow img {
  position: absolute;
  width: 65px;
  height: 36px;
}
#guide-remove-text {
  position: absolute;
  left: 4%;
  bottom: 16%;
  margin-bottom: 109.5px;
  margin-left: 57px;
  font-size: 18px;
}
#guide-remove-arrow {
  position: absolute;
  left: 4%;
  bottom: 16%;
  margin-bottom: 107px;
  margin-left: 17px;
}
#guide-remove-arrow img {
  position: absolute;
  width: 52px;
  height: 52px;
}







.emoticonHolder {
  width: 100%;
  height: 100%;
}
.emoticonHolder .emoticonBox {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.emoticonHolder .emoticonBox img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#shareKakao {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000091;
}
#shareKakao .wrap {
  width: 70%;
  height: auto;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#shareKakao .wrap .title {
  margin-bottom: 20px;
}
#shareKakao .wrap .title p {
  font-size: 20px;
  color: #666;
  line-height: 1.4;
}
#shareKakao .wrap .title img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#shareKakao .wrap .btnOutline {
  color: #666 !important;
}
.btnWrap {
  text-align: center;
}
.btn {
  background: #068fa8;
  border: 2px solid #068fa8;
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
}
.btnRound {
  border-radius: 100px;
}
.btnYellow {
  background-color: #ffed00;
  border-color: #ffed00;
  color: #8a6b0c;
}
.btnRed {
  background-color: #e71e0f;
  border-color: #e71e0f;
  color: #fff;
}
.btnOutline {
  background-color: transparent !important;
  color: #fff !important;
}
.renderable {
  padding: 10px 15px;
}
.renderable .wrap .comment {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.85);
  color: #fff;
}
.renderable .wrap .comment .value {
  font-size: 70px;
  /*min-width: 600px;*/
}
.renderable .wrap .comment .value:before {
  content: "#";
}
.renderable .wrap .emoji .value {
  width: 150px;
  height: 150px;
}
.renderable .wrap .emoji .value img {
  width: 100%;
}
.renderable.helper {
  position: relative;
}
.renderable.helper:before,
.renderable.helper:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 7px solid #e71e0f;
}
.renderable.helper:before {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}
.renderable.helper:after {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}
#loader {
  display: none;
  position: fixed;
  background: #ffeb3b7a;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}
#loader .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (orientation: landscape) {
  #detect {
    display: none !important;
  }
}
@media (orientation: portrait) {
  #detect {
    display: block !important;
  }
  #ft-functions #emotions .emoji-box-item ul li {
    width: 31%;
    background: red;
    margin: 3px 4px;
    padding: 4px;
  }
} /*# sourceMappingURL=layout.css.map */
