
@font-face {
  font-family: 'KoreanTITGD1-R';
  src: url('KoreanTITGD1-R.eot?#iefix') format('embedded-opentype'),  url('KoreanTITGD1-R.woff') format('woff'), url('KoreanTITGD1-R.ttf')  format('truetype'), url('KoreanTITGD1-R.svg#KoreanTITGD1-R') format('svg');
  font-weight: normal;
  font-style: normal;
}
